<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>
<!-- root/, /filtered, /mystories, /view/::id -->
  <body>

    <%- include('partials/_nav') %>

    <main>


      <section class="data">
        <% for(const datum of data) { %>
        <a href = '/view/<%= datum.id %>'>
          <article class="card full" id=<% datum.id %>>
            <div class="card-header"><span ><%= datum.story_title %></span><span>By: <%= datum.name %></span></div>
            <div class="story"><%= datum.story_beginning %></div>
            <% if (datum.is_complete) { %>
              <footer class="upvotes"><button>Story is complete, would you like to view?</button></footer>
            <% } else { %>
              <footer class="upvotes"><button>Story in progress, would you like to contribute?</button></footer>
            <% } %>
          </article>
        </a>
        <% } %>
      </section>



    </main>
  </body>
</html>
