<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/viewload.js"></script>
    <script>
      $(document).ready(function() {
        $("button").click(function(){ location.reload();
        });
      });
    </script>

  </head>
<!-- root/, /filtered, /mystories, /view/::id -->
  <body>

    <%- include('partials/_nav') %>

    <main>
      <%= console.log("data time!", data[0].is_complete) %>
      <section class="card full contributions">
        <article class="card full" id='<%= data[0].storyid %>'>
          <div class="card-header"><span ><%= data[0].title %></span></div>
          <!-- <div class="thumbnails"><img src="../public/docs/unsplash01.jpg"></div> -->
          <div class="story"><%= data[0].beginning %></div>
          <% if (!data[0].is_complete) { %>
          <button class="markCompleted" id='<%= data[0].storyid %>' type="submit">Mark Completed</button>
          <% } %>
        </article>

        <% for(const datum of data) { %>
          <% if (datum.contribution_id) { %>
            <article class="card full">
              <div class="story"><%= datum.contribution %></div>
            </article>
          <% } else if (!data[0].is_complete){ %>
            <article class="card full">
              <div class="story<%= datum.contributionid %>"><%= datum.contribution %></div>
              <footer class="upvotes"><button class="full" id="<%= datum.contributionid %>" type="submit">Accept Contribution</button><button>Upvotes: +4</button></footer>
            </article>
          <% } %>
        <% } %>
      </section>
      <% if (!data[0].is_complete) { %>
        <section class="card full add">
        <form action="/view/contribution" method="POST">
          <label for="directions">Add to a Story:</label>
          <textarea name="contribution" id="contribution" class="addedToStory" placeholder="What happens next.."></textarea>
          <div>
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>
      <% } %>

    </main>
  </body>
</html>
